#body {
    background-image: url('../assets/DoodleBot_NoTheme_Background_2.png');
    background-size: cover;
    font-family: "Audiowide", sans-serif;
}

.center {
    /* height: 100vh; */
    /* margin-top: 18%; */
    /* Set height of container to 100% of viewport height */
}

#roomID {
    height: 40px;
    width: 200px;
}