#body {
  font-family: "Audiowide", sans-serif;
  color: #f1f1f1;
  overflow: -moz-scrollbars-horizontal;
  overflow-y: hidden;
  overflow-x: auto;
}

body[current-mode="virtual"] [valid-mode="camera"] {
  display: none;
}

body[current-mode="camera"] [valid-mode="virtual"] {
  display: none;
}
body:not([chosen-bot]) #botUpdateSelector {
  display: none;
}
.card {
  margin: 20px;
  color: black;
}

.card-header {
  /* background-color: rgb(236, 190, 190); */
}

.card-body {
  background-color: rgb(195, 220, 225);
}

.background1 {
  background-image: url("../assets/DB_NoThemeControlPanel_1.png");
  background-size: cover;
}

.background2 {
  background-image: url("../assets/DoodleBot_CityTheme_Background.png");
  background-size: cover;
}

.background3 {
  background-image: url("../assets/DoodleBot_PacmanTheme_Background_1.png");
  background-size: cover;
}
.background4 {
  background-image: url("../assets/DoodleBot_SchoolTheme_Background_1-01.png");
  background-size: cover;
}
#gridSpace {
  width: 600px;
  height: 500px;
  margin-top: 2%;
}
.sidebar {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #160f31;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.startbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.startbtn:hover {
  background-color: #444;
}

#main {
  margin-left: 500px;
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.policy-inactive select {
  display: none;
}

.policy-inactive label {
  opacity: 0.5;
}

.material-symbols-outlined {
  width: 10px;
  height: 30px;
  color: #160f31;
  text-decoration: none;
  font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 0, "opsz" NaN;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Change this to adjust the size of the modal */
  max-width: 500px;
  /* Set a maximum width for the modal */
  position: absolute;
  top: 20%;
  /* Position the modal vertically */
  animation-name: modalopen;
  animation-duration: 0.5s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#activate_camera_div {
  display: "flex";
  align-items: center;
}

.remote-ip-hidden {
  display: none;
}

body[chosen-bot] #bots {
  opacity: 0.5;
}
body[chosen-bot] #bots:hover {
  cursor: not-allowed;
}

#bots [chosen-bot] {
  border: 2px solid green;
}

.current-bot:hover {
  cursor: not-allowed;
}
.current-bot {
  background-color: rgb(144, 255, 127);
  border-radius: 10px;
}

/* body:not([current-option="School"]) [grid_object="true"][chosen-bot] {
  background-color: green;
}
body[current-option="School"] [grid_object="true"][chosen-bot] {
  background-color: rebeccapurple;
} */
body[current-option="School"] label[for="check_gridlines"] {
  color: black !important;
}
/* [grid_object="true"] {
  border: 2px solid yellow;
}
[grid_object="true"][chosen-bot][angle="0"] {
  border-right: 2px solid blue;
}
[grid_object="true"][chosen-bot][angle="90"] {
  border-top: 2px solid blue;
}
[grid_object="true"][chosen-bot][angle="180"] {
  border-left: 2px solid blue;
}
[grid_object="true"][chosen-bot][angle="270"] {
  border-bottom: 2px solid blue;
} */

button[disabled] {
  opacity: 0.5;
}

body[is-waiting-for-users] #waitingMessage {
  display: none;
}
body:not([show-other-user-ready]) #otherUserReady {
  display: none;
}

body[tutorial] #objects {
  opacity: 0.5;
}

body[tutorial] #controls {
  opacity: 0.5;
}

body[tutorial] #cancelReadyToWait {
  display: none;
}
body[tutorial][is-moving] #changeMovingBotsButton {
  display: none;
}
body[tutorial][is-moving] #loadBotButton {
  display: none;
}

body:not([tutorial]) #continueToNextPage {
  display: none;
}
body[tutorial] #scoreModalClose {
  display: none;
}

body[tutorial] #showVideosModalButton {
  display: none;
}
