#gridDiv {
    /* display:grid; */
    /* column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: 10 10; */
}

#editingContainer {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: center;
}

#editingContainer>* {
    flex: 1;
}

/* #grid > * {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
} */
.row {
    display: flex;
}

.column {
    display: flex;
    height: 60px;
    width: 60px;
    background-color: rgb(88, 84, 84);
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.cell-row-text,
.cell-column-text {
    margin: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell-bot {
    background-color: yellowgreen;
}

.cell-bot-edge {
    background-color: blue;
}

.cell-obstacle {
    background-color: red;
}

.cell-coin {
    background-color: yellow;
    color: black;
}

section {
    /* display: flex;
    flex-direction: column; */
    width: "100%";
    margin: 20px;
    padding: 20px;
    border: black solid 2px;
}

#botControlsContainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* flex: 1; */
}
#updateObjectContainer{
    display: flex;
    flex-wrap: wrap;
}
.bot-options {
    display: flex;
    flex-direction: row;
    /* flex:1; */
    /* align-items: center; */
    justify-content: center;
    border: black solid 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* width: "40vw"; */
    /* max-width: "40vw"; */
    /* background-color: blue; */
}

.bot-options>* {
    margin: 5px;
}

.left-header-right {
    display: flex;
    flex-direction: row;
}

.bot-moving-btn {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.bot-start {
    background-color: green;
}

.bot-stop {
    background-color: red;
}

.bot-policy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
}

.bot-other-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* flex:1; */
}

.bot-moving-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.move-button-selected {
    background-color: black;
    color: white;
}

.bot-moving-controls-down {}

.bot-moving-controls h1 {
    margin: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

/* .bot-moving-controls  */
.editor-hide {
    display: none;
}

.coin-hide {
    display: none;
}

#virtualGridContainer.game-hidden{
    display: none;
}